body{
    background-color: #D8DCDF !important;
}
main{
    margin-bottom: 20px;
}
.card{
    margin-right: 5px;
    margin-bottom: 5px;
    
    
}
a{
    text-decoration: none !important;
}
.row{
    padding-left: 40px !important;
}
#footer{
    position:absolute;
    width:100%;
    height:100px;  
    bottom: 0;
    margin: 0 !important;
    padding: 0 !important;

}   